{
  "name" : "cert-basic",
  "files" : [
    "tests/cert-basic.c",
    "src/visibility.c",
    "src/reader.c",
    "src/writer.c",
    "src/asn1-parse.c",
    "src/asn1-func.c",
    "src/asn1-func2.c",
    "src/ber-help.c",
    "src/ber-decoder.c",
    "src/der-encoder.c",
    "src/cert.c",
    "src/cms.c",
    "src/cms-parser.c",
    "src/crl.c",
    "src/certreq.c",
    "src/ocsp.c",
    "src/keyinfo.c",
    "src/oid.c",
    "src/name.c",
    "src/dn.c",
    "src/time.c",
    "src/version.c",
    "src/util.c",
    "src/asn1-tables.c",
    ".tis/mkfs/mkfs_filesystem.c",
    ".tis/mkfs/__tis_mkfs.c",
    ".tis/taas-stubs/my-stubs.c"  ],
  "main" : "main",
  "compilation_cmd" : "-DHAVE_CONFIG_H -Itests/. -Itests/..  -I.tis/mkfs -I.tis/taas-stubs -I.tis/external/libgpg-error/include",
  "machdep" : "gcc_x86_64"
}
