{
  "git" : {
    "sourceRepo" : "git@github.com:gpg/libksba.git",
    "altRepo" : "git@github.com:fderepas/libksba.gif"
  },
  "make" : {
    "tracedCommands" : {
      "gcc" : {
        "oneArgumentOptions": ["-o", "-MT", "-MF", "-aux-info", "-x", "-z", "-u", "-Xlinker", "-T", "-idirafter", "-imacros", "-imultilib", "-iprefix", "-iquote", "-isysroot", "-isystem", "-iwithprefix", "-iwithprefixbefore", "-G"]
      },
      "ld" : {
        "oneArgumentOptions": ["-o", "-plugin", "-m", "-dynamic-linker", "-z", "-soname", "-b", "-c", "-e", "-F", "--filter", "-R", "-T", "-u", "-y", "-Y", "-z", "-assert", "-Map", "--oformat", "--retain-symbols-file", "-rpath-link", "-rpath", "--split-by-reloc", "-Tbss", "-Tdata", "-Ttext", "--wrap"]
      },
      "ar" : {
        "discardArgument": ["1"],
        "outputArgument": "2"
      }
    },
    "symLinkCommands" : ["ln", "mv"],
    "compilationUnitExtension" : [".c"],
    "objectFileExtensionToFollow" : [".o", ".so", ".a"],
    "linkerCommandName" : "ld"
  },
  "names" : {
    "tisConfigFileName" : "tis.config",
    "tisMakeStraceTmpFileName" : "strace_out.txt"
  },
  "pkg" : {
    "pkgCurrentPackage" : "libksba",
    "pkgCurrentVersion" : "1.3.4",
    "pkgCurrentConfig" : "bug",
    "pkgCurrentAnalysis" : "cert-basic"
  }
}
